temp/

logs/
crash-reports/
saves/
screenshots/
local/
showdown/
dynamic-resource-pack-cache/
dynamic-data-pack-cache/
.mixin.out/
.pg-native/
.sable/
blueprints/
downloads/
server.dat
server.dat_old
servers.dat
servers.dat_old
options.txt
optionsof.txt
optionsshaders.txt
usercache.json
usernamecache.json
whitelist.json
*debug.json
**/*.bak
**/*.backup*
.DS_Store
Thumbs.db
